<h2 mat-dialog-title>
    {{ (data ? '::EditAirport' : '::NewAirport') | abpLocalization }}
</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="form-container">
        <mat-form-field class="w-100">
            <mat-label>{{ '::City' | abpLocalization }} <span> * </span></mat-label>
            <input type="text" id="airport-city" matInput formControlName="city" />
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>{{ '::Code' | abpLocalization }} <span> * </span></mat-label>
            <input type="text" id="airport-code" matInput formControlName="code" />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ '::Close' | abpLocalization }}</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="getFormValue()">
        {{ '::Save' | abpLocalization }}
    </button>
</mat-dialog-actions>