<mat-card>
    <mat-card-header class="w-100">
        <mat-card-title-group class="w-100">
            <mat-card-title class="abp-card-title">
                {{'::Menu:Airports'|abpLocalization}}
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
        <table
            mat-table
            [dataSource]="airport.items"
            class="w-100"
            matSort
            (matSortChange)="changeSort($event)"
        >
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ '::City' | abpLocalization }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.city }}</td>
        </ng-container>
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ '::Code' | abpLocalization }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.code }}
            </td>
        </ng-container>
        </table>
        <mat-paginator
            [length]="airport.totalCount"
            [pageSize]="list.maxResultCount"
            (page)="changePage($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>
